@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-12">
    <h1 class="page-head-line">McWendall King Scheduling Application</h1>
    <h1 class="page-subhead-line">Please login to continue</h1>
</div>

