@using System.Security.Claims

@if (User.IsSignedIn())
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
         <a asp-controller="Manage" asp-action="Index" title="Manage" class="inner-text">Hello @User.GetUserName()</a>    
        <br/>    
         <button type="submit" class="btn btn-xs btn-default">Log off</button>
    </form>
}
