@model McWendellKingSchedule.ViewModels.ScheduleDetails.CalendarView


@foreach (var day in Model.DetailDate)
{
    <div class="col-md-4 col-sm-4 col-xs-8">
        <div class="panel panel-info">
            <div class="panel panel-heading">@day.ToShortDateString()</div>
            <div class="panel panel-body">
                @foreach (var shift in Model.Shifts)
                {
                       <h4><u>@shift</u></h4>
                        @foreach (var position in Model.Positions)
                        {
                               @*<h5>@position</h5>*@
                                @foreach (var entry in Model.ScheduleDetails)
                                {
                                    if (entry.Date.ToShortDateString().Contains(day.ToShortDateString()) && entry.ShiftName.Contains(shift) && entry.PositionName.Contains(position))
                                    {
                                            
                                      <div>@position  -  @entry.FullName</div>
                                            
                                    }
                                }
                        }
                }
            </div>
        </div>
    </div>
}


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}